raw.githubusercontent.com/hfawaz/cd-diagram/*
results/*
results_old/*
data/*
checkpoints/*
checkpoints_old/*
*credentials*
.ipynb_checkpoints/*
**/__pycache__/**
outputs/*
utils/__pycache__/*
old/*
multirun/*
.vscode/
.ruff_cache/
utils/__pycache__/attacks.cpython-38.pyc
utils/__pycache__/discrim_attack.cpython-38.pyc
utils/__pycache__/estimation.cpython-38.pyc
*.pyc
smi.ipynb
.mypy_cache/
pictures/*
.docker/*
train_classifier1.py
config/*
loaded_clearml/*

